.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: Poppins,sans-serif;
}
h1{
    font-family: Poppins,sans-serif;
    font-weight: 600;
}
h2, h3 {
  font-family: Poppins,sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.6;
}

Button{
  color:#7eb444; 
  font-weight: 600;
}

.row-content {
  padding : 50px 50px;
  text-align: start;
  justify-content: between;
}

.home-banner{
  margin:0; 
  padding: 0;
  width: 100%;
  height: 600px; 
}

.nav-link{ 
  color:#7eb444; 
  text-shadow: 1px 1px black;
  font-weight: 600;
  cursor: pointer;
}

.NavbarBrand{
  width: 136px;
  height: 40px;
}
.nav-link { margin-right: 1em !important;}

.nav-link:hover{ color: black !important; text-shadow: none } 

.navbar-collapse{ justify-content: flex-end ;}

.navbar-toggler{
  width: 47px;
  height: 34px;
  background-color: #7eb444; 
  border:none;
}

.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}
.btn-success{
  background-color:#7eb444;
  color:white;
  text-shadow: 1px 1px black;
  border:none;
}
.learning-link{
  color:white;
  text-shadow: 1px 1px black;
}
.learning-link:hover{color: black !important; text-shadow: none;}

.background{
  background-color:#7eb444;
}
.register-button {
  color:white;
  text-shadow: 1px 1px black;
}
.register-button:hover{ color: black !important; text-shadow: none; } 

.dropdown-menu {
  background-color: whitesmoke;
  size : auto;
  font-size: 15px;
}

.dropdown-item {
    color : black;
}
.site-footer {
  background-color:#7eb444 ;
  margin:0; 
  padding: 0;
  width: 100%; 
}


.card-title{
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.6;
}
.card-body{
  padding: 2rem;
}

.card{
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden
}

.carousel-caption h3{
  top: 50%;
  transform: translateY(-50%);
  display:none;
}

.carousel-caption p{
  color:white;
  text-shadow: 3px 3px black ;
  font-weight: 800;
  font-size: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}


.carousel-item > img { 
  width: 100%; 
  padding:0;
  margin:0
}
.carousel-indicators {
  display:none
}
.carousel-inner{
  width:100%;
}

/* for online learning */


.description{
  justify-content: center;
  align-items: center;
  margin: 0 auto;        
} 

.description h1{
    margin:20px;
    padding:10px;
    color:white;
    text-shadow: 2px 2px black;
    font-size: 3rem;
    font-weight: 600;
}
.description p{
    margin:20px;
    padding:10px;
    color:white;
    text-shadow: 2px 2px black;
    font-size: 20px;
    line-height: 1.5;
}
.a-mission {
    letter-spacing: 2px;
    font-size: 30px;
    color: #df7174;
    font-weight: 600!important;
    font-family: Raleway,sans-serif
}
.online-container-fluid {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 0 auto;
    margin-left: 0 auto;
}
.row-online{
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.online-heading{
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    padding-bottom: 5px;
    margin-bottom: 0;
}


.container-center {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex; 
    align-items: center;    
    margin: 0 auto;   
  }

  
.online-container-center {
    height: 400px;
    width: 100%;
    justify-content: center;
    display: flex; 
    align-items: center;    
    margin: 0 auto;   
  }

.online-header{
  width:100%;
  height:520px
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.page-row-space-content {
  padding: 100px 0; 
}
.content{
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: .3px;
  color: #4c4c4c;
  max-width: 400px;
  /* margin-bottom: 32px; */
}
.main-box{
  width: calc(100% - 1rem);
  background-color: #fff;
  box-shadow: 0 6px 60px 0 rgba(0,0,0,.11);
  position: relative;
  
}
.main-box p{
  padding: 2rem;
  opacity: .35;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: .5px;
  color: #000;
}

.background-box{
    opacity: .95;
    background-image: linear-gradient(to right,#53d85b,#377eff 44%,#7c24c2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: -1;
}

/* REGISTER Form */

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-title {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://2018media.idtech.com/images/second-image-opl.jpg?2e02830a34');
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.formbutton{
  position: relative;
  margin-top: 1rem;
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.google-btn {
  color: white;
  background-color: #ea4335;
}

.facebook-btn {
  color: white;
  background-color: #3b5998;
}

/* COURSES PAGE */
.sidebar-canvas{
  padding-top:50px;
  padding-bottom: 50px;
  border-right: solid 1px rgba(0,0,0,.1);
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: .3px;
  color: #4c4c4c;
}
.course-virtual-badge{
  background-color: #4331b9;
  font-size: .75rem;
  color: #fff;
  border-radius: .167em;
  padding: .167em .5em;
}
.course-name{
  padding-left:10px;
  font-weight: 700;
  text-decoration: underline;
  font-size: 1.25rem;
  color: #000;
}
.course-details {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: .5px;
  color: #4c4c4c;
  display: block;
  border-bottom: 1px solid #e0e0e0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}

.row-separator {
  padding-top : 25px;
  margin-top: 25px
}